.container{
    margin: auto;
    padding: 20px;
    width: 40%;
    height: 70%;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
    color: rgb(210, 207, 230);
    position: relative;
}
.scroll_horizontal {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    gap: 10px; /* Espaço entre os itens */
}

.scroll_horizontal div {
    flex-shrink: 0;
    color: rgb(212, 228, 69);
    cursor: pointer;
}

h1{
    margin-bottom: 20px;
    text-align: center;
}
h2{
    margin-top: 20px;
    color: rgb(212, 228, 69);
}
#text-inf{
    font-size:12px;
    color: black;
    font-weight:bolder;
}
input, input::placeholder, input:focus{
    outline: none;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(185, 182, 178, 0.87);
    width: 130px;
    padding: 1px;
}
.paragraf{
    margin-bottom: 1px;
    font-size: medium;
}
.scroll-left, .scroll-right:hover{
    cursor: pointer;
}
.scroll-right:hover{
    border: solid rgb(8, 228, 19) ;
    border-width: 3px 0 0 3px;
}
.scroll-left:hover{
    border: solid rgb(8, 228, 19) ;
    border-width: 0 3px 3px 0;
}
.scroll-left {
    border: solid rgb(6, 112, 11);
    border-width: 0 3px 3px 0;
    display: flex;
    padding: 6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background-color: rgba(0, 128, 0, 0);
    border-radius: 4px;
    left: -16px;
    top: 37px;
    position: relative;
}
.scroll-right {
    border: solid rgb(6, 112, 11);
    border-width: 3px 0  0 3px;
    display: flex;
    padding: 6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    background-color: rgba(0, 128, 0, 0);
    border-radius: 4px;
    right: -548px;
    top: 21px;
    position: relative;

}

@media (max-width: 650px) {
    .container{
        width: 75%;
        height: 20%;
    }
}{

}